{% include "../layout/top.html" %}
<body>
        <div class="col-xs-12 col-sm-12 col-md-12 graph">
                <a href="/" class="btn btn-default">回首页</a>

                <a href="/review" class="btn btn-primary">建表语句审核</a>

                <a class="btn btn-success">添加规则</a>

                <a class="btn btn-info">发布</a>

                <button type="button" class="btn btn-warning">Demo</button>

                <button type="button" class="btn btn-danger">Demo</button>

                <!--button type="button" class="btn btn-link">Link</button-->

                <button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-star"></span>{{ username }}</button>
        </div>
        <hr  class="divise">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 well">
	<h1>统计</h1>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 well">
	<h1>发布</h1>
	</div>
	<div id="review" class="wid2">
	{% include "review.html" %}
	</div>
	<div id="review" class="wid2">
	</div>
	</div>
