{% include "../layout/top.html" %}
<body style="height: 100%;overflow: auto;">
	{% include "../layout/header.html" %}
        <!--div class="col-xs-12 col-sm-12 col-md-12 graph">
                <a href="/" class="btn btn-default">回首页</a>

                <button id="DataMaintain" class="btn btn-primary">数据维护</button>

                <button type="button" class="btn btn-success">监控任务</button>

                <button type="button" class="btn btn-info">备份脚本</button>

                <button type="button" class="btn btn-warning">Demo</button>

                <button type="button" class="btn btn-danger">Demo</button>


                <button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-star"></span>{{ username }}</button>
        </div>
	<hr  class="divise"-->
	<div id="main" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="height:90%">
	{% include "crontab.html" %}
	</div>
        <!--div class="divise">
                <blockquote>
                </blockquote>
        </div-->

<!--script>
$(document).ready(function(){
$("#DataMaintain").click(function(){
$.get("/datamaintain",function(res){
$("#main").html(res);
});
});
});
</script-->
