{% include "../layout/top.html" %}
<body>
        <div class="col-xs-12 col-sm-12 col-md-12 graph">
                <a href="/" class="btn btn-default">回首页</a>

                <button id="DataMaintain" class="btn btn-primary">数据维护</button>

                <button type="button" class="btn btn-success">监控任务</button>

                <button type="button" class="btn btn-info">备份脚本</button>

                <button type="button" class="btn btn-warning">Demo</button>

                <button type="button" class="btn btn-danger">Demo</button>

                <!--button type="button" class="btn btn-link">Link</button-->

                <button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-star"></span>{{ username }}</button>
        </div>
	<hr  class="divise">
	<div id="main" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="wid2 well">
        <h1>统计</h1>
        </div>
        <div class="wid2 well">
        <h1>发布</h1>
        </div>
	</div>
        <!--div class="divise">
                <blockquote>
                </blockquote>
        </div-->

<script>
$(document).ready(function(){
$("#DataMaintain").click(function(){
$.get("/datamaintain",function(res){
$("#main").html(res);
});
});
});
</script>
