        <div class="col-xs-12 col-sm-12 col-md-12 graph">
                <a href="/" class="btn btn-default">回首页</a>

                <a href="/review" class="btn btn-primary">审核平台</a>

                <a href="/crontab" class="btn btn-success">计划任务平台</a>

                <a href="/graph" class="btn btn-info">数据库图表分析</a>

                <button type="button" class="btn btn-warning">Demo</button>

                <button type="button" class="btn btn-danger">Demo</button>

                <!--button type="button" class="btn btn-link">Link</button-->

                <button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-star"></span>{{ username }}</button>
        </div>
        <hr  class="divise">
